{% extends "base.html" %}

{% block content %}
  <h2>Login</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
        {% for category, message in messages %}
          <li style="color: {{ 'red' if category=='danger' else 'green' }}">{{ message }}</li>
        {% endfor %}

        </ul>
      {% endif %}
    {% endwith %}

    <form method="post" action="{{ url_for('app.login') }}">
        <label>User:</label>
        <input type="text" name="username" required><br>

        <label>Password:</label>
        <input type="password" name="password" required><br>

        <button type="submit">sign up </button>
    </form>
    <br>
    <a href="{{ url_for('app.login') }}">Already have an account? Login here</a>
{% endblock %}