{% extends "index.html" %}

{% block content %}

    <h2>Sale Form</h2>
    <form action="/cart" method="POST">
      <div class="form-group">
        <label>Select Item:</label>
        <select class="form-select" required name="item_name">
          {% for item in item_list %}
            <option value={{ item }} >{{ item }}</option>
          {% endfor %}

        </select>
      </div>
      <div class="form-group">
        <label>Amount:</label>
        <input class="form-input" type="number" min="1" required name="amount">
      </div>
      <button class="btn btn-primary" type="submit">Add to cart</button>
      <br><br><br><br>

      <a href={{ url_for("shopping_cart") }} class="btn btn-primary">Check cart</a>
    </form>






{% endblock %}
